body{
	margin: 0px
}

img{
	max-width: 100%;
}
header{
	box-shadow: 0px 50px 50px #d6d6d6;
}
img{
	max-width: 100%;
}
.wrapper{
    width: 1400px;
    margin: auto;
    overflow: hidden;
}
.logo{
    width: 20%;
    /* float: right; */
    float: left;
}
.logo img{}
nav{
    width: 80%;
    float: right;
}
nav ul{
    margin: 0px;
    padding: 0px;
    text-align: right;
}
nav ul li{
    list-style-type: none;
    /* float: left; */
    /* float: right; */
    display: inline-block;
}
nav ul li a{
    color: #F7941D;
    font-size: 47px;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}
nav ul li a:hover{
	color: black;
}
body{
	margin: 0px
}
header{
	box-shadow: 0px 20px 20px #d6d6d6;
}
.wrapper{
    width: 1400px;
    margin: auto;
    
    overflow: hidden;
}
.logo{
    width: 20%;
    /* float: right; */
    float: left;
}
.logo img{}
nav{
    width: 80%;
    float: right;
}
.container{
	width: 1400px;
	height: 300px;
	margin: auto;
    background-color: #cccdec;
}
.container2{
	width: 1400px;
	
	margin: auto;
	
}



}
.container{
	width: 1400px;
	height: 300px;
	margin: auto;
    background-color: #cccdec;
}
.bg{
	width: 1400px;
	height: 300px;
	margin: auto;
	background-color:#cccdec; 
}
nav ul{
    margin: 0px;
    padding: 0px;
    text-align: right;
    margin-top: 70px;
}
nav ul li{
    list-style-type: none;
    /* float: left; */
    /* float: right; */
    display: inline-block;
}
nav ul li a{
    color: #F7941D;
    font-size: 50px;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
}
nav ul li a:hover{
	color: black;



